
.group{
  display:flex;
  flex-direction: row;
  justify-content:center;
}
.senior:hover {
 background-color: #3a3a3a;
 color: white;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-image {
  max-width: 80px;
  margin: 0 auto 15px;
  display: block;
}

.card h3 {
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.95rem;
  color: #666;
  line-height: 1.5;
}


/* Mission Section */
.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 50px 20px;
}

.mission-box {
  text-align: center;
  padding: 70px 300px;
  border-radius: 25px;
  background-color: #f9f4eb;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.mission-box h2 {
  font-size: 1.8rem;
  color: #91474a;
  margin: 0 0 10px;
  font-weight: bolder;
}

.mission-box p {
  font-size: 1rem;
  color: #555;
  font-weight: bold;
}

.data-container {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: none; /* Initially hidden */
}


/* Banner Section */
.banner {
  background: url('https://via.placeholder.com/1600x600') no-repeat center center/cover;
  color: #fff;
  position: relative;
  text-align: center;
  padding: 100px 20px;
  margin-top: 4%;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.banner-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  margin: auto;
}

.banner p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #91474a;
  color: #fff;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 1.2rem;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #732c33;
  color:#333;
}

