body {
    background-color: #f9f4eb;
    font-family: Arial, sans-serif;
}

.navbar-brand img {
    height: 50px;
}
#navbarNav{
    margin-left: 50px;
}
.navbar-nav .nav-link {
    color: #333333 ;
    
}
.navbar-nav {
    align-items:center;
}

.navbar-nav > .nav-item > .nav-link:hover {
    color: #965d62 !important; 
}
.navbar-nav .nav-link.active {
    color: #965d62 !important; 
}


footer {
    background-color: #f4f4f4;
    padding: 30px;
    color: #333333;
}

.footer-logo img {
    height: 40px;
}

.footer-section h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #333333;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}