body {
    background-color:#f9f4eb;
    font-family: Arial, sans-serif;
    line-height: 1.6;

}
.navbar {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 30px;
  }
  
  .logo img {
    height: 50px;
    margin-top: -10px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 3.5rem;
    padding-top:15px;
  }
  
  .nav-links li {
    position: relative;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .nav-links li a:hover {
    color: #b34b4b;
  }
  
  /* Dropdown Styling */
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-menu li {
    padding: 5px 20px;
  }
  
  .dropdown-menu li a {
    color: #333;
    text-decoration: none;
    font-weight: normal;
  }
  
  .dropdown-menu li a:hover {
    color: #b34b4b;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .contact-us a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    border-radius: 20px;
    color: #333;
    font-weight: bold;
  }
  
  .contact-us a:hover {
    background-color: #f0f0f0;
  }
  
  /* css for footer */
footer {
    background-color: #f4f4f4;
    padding: 30px;
    color: #333333;
}

.footer-logo img {
   margin:20px;
    height: 70px;
}

.footer-section h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #333333;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}