{% extends 'layout.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static 'home.css'%}">
{% endblock  %}
{% block title %}
    <title>Home Page</title>
{% endblock  %}

{% block contant %}
<div class="container section">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1 class="hero-text" >Research based writing company</h1>
            <button class="btn btn-primary mt-5">Start Your Project</button>
        </div>

        <div class="col-md-6">
            <div class="form-section">
                <h4>GET EXPERT HELP FOR YOUR PROJECT</h4>
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="name" placeholder="Your name here" required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="email" placeholder="Add email" required>
                    </div>

                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone <span class="text-danger">*</span></label>
                        <div class="d-flex">
                            <input type="text" class="form-control w-25 me-2" placeholder="+91" required>
                            <input type="text" class="form-control" id="phone" placeholder="Add Phone number" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="subject" class="form-label">Subject/ Topic <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="subject" placeholder="Details of your subject or topic" required>
                    </div>

                    <div class="mb-3">
                        <label for="wordCount" class="form-label">Word Count</label>
                        <input type="number" class="form-control" id="wordCount" placeholder="Number of words">
                    </div>

                    <button type="submit" class="btn success">Get Free Quote</button>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="about-us">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 text-center illustration">
          <img src="{%static 'images/mobile-app.png'%}" alt="Illustration" class="img-fluid">
        </div>
        <div class="col-md-6 content ">
          <h2>Our Content Writing Services</h2>
          <p>At Olypedia, we specialize in crafting compelling and original content that engages your audience. From blog posts to website copy, our writers ensure every word reflects your brand's message and tone.<br><br>We take a research-driven approach to deliver content that's not only creative but also informative and relevant. Our team is committed to helping you stand out with quality writing that adds value to your business.<br><br>Whether you need content for digital marketing, SEO, or brand storytelling, we tailor our services to meet your specific goals. Let us help you communicate effectively and grow your online presence.
          </p>
          <a href="{%url 'services'%}" class="btn btn-custom">View All Services</a>
        </div>
      </div>
    </div>
  </section>

<section class="how-it-work">
    <div class="div-head">
        <div>
            <h1>INDUSTRIES WE WORK WITH</h1>
        </div>
    </div>
    <div class="div-1">
        <div class="div1">
            <div class="card1"></div>
            <div class="card2"></div>
             <div class="card3"></div>
        </div>
    </div>
    <div class="div-2">
        <div class="div2">
            <div class="card1"></div>
            <div class="card2"></div>
             <div class="card3"></div>
        </div>
        
    </div>
    <div class="div-3">
        <div class="div2">
            <div class="card1"></div>
            <div class="card2"></div>
             <div class="card3"></div>
        </div>
    </div>
    <div class="project-discussion">
        <h2>Want to Discuss About Your Project</h2>
        <p>Get on a free call with our experts</p>
        <button class="contact-button">Contact Now</button>
      </div>          
    </div>
</section>

<div class="why-writex">
    <h3>Why WriteX</h3>
    <h1>Flexible writing solutions at one place</h1>
    <p>
      We understand that our clients have unique needs and we take the time to listen to their requirements. 
      Our team of experienced writers has the skills and expertise to deliver writing that is engaging, 
      informative, and meets the highest standards of quality. At WriteX we do not just conduct research with 
      any random data for every research; we do primary as well as secondary data collection techniques. We are 
      committed to providing excellent customer service and ensuring that our clients are satisfied with our 
      work. With our dedication to excellence and focus on meeting our clients' needs, we are confident that we 
      are the best choice for all your writing needs.
    </p>
    <ul>
      <li>✔ Experienced Researchers</li>
      <li>✔ Creativity</li>
      <li>✔ Research Based Content</li>
      <li>✔ Innovation</li>
    </ul>
    <a href="{%url 'about'%}"><button class="know-more">Know more</button></a>
</div>
  
<div class="journey-map">
    <h1>Our Work Process</h1>
    <div class="steps">
        <img src="{% static 'images/Logo.png'%}" alt="jewdheiwu">
    </div>
</div>

<div class="query">
    <div>
    <h1>Empowering Your Ideas with <br class="br">Research-Driven Content</h1>
    <h6>If you have any query in your mind, contact our expert for assistance</h6>
    <a href="{% url 'contact'%}"><button>Contact Now</button></a>
    </div>
</div>
  {% endblock  %}

