{% extends 'layout.html' %}
{% block title %}
    <title>Home Page</title>
{% endblock  %}

{% block contant %}
<div class="container main-section" style="padding: 50px;">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1 class="hero-text" style="color: #935f5f;
            font-size: 2.5rem;
            font-weight: bold;">Research based writing company</h1>
            <button class="btn btn-primary mt-4">Start Your Project</button>
        </div>

        <div class="col-md-6">
            <div class="form-section" style="
            background-color: white;
            padding: 30px;
.form-section {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        ">
                <h5>GET EXPERT HELP FOR YOUR PROJECT</h5>
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="name" placeholder="Your name here" required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="email" placeholder="Add email" required>
                    </div>

                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone <span class="text-danger">*</span></label>
                        <div class="d-flex">
                            <input type="text" class="form-control w-25 me-2" placeholder="+44" required>
                            <input type="text" class="form-control" id="phone" placeholder="Add Phone number" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="subject" class="form-label">Subject/ Topic <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="subject" placeholder="Details of your subject or topic" required>
                    </div>

                    <div class="mb-3">
                        <label for="wordCount" class="form-label">Word Count</label>
                        <input type="number" class="form-control" id="wordCount" placeholder="Number of words">
                    </div>

                    <button style= ":hover{
    background-color: #555555;
}" type="submit" class="btn btn-primary w-100">Get Free Quote</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

