{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    {% block title %}
    <title>Document</title>
    {% endblock %} 
    {% block link %}
        
    {% endblock  %}
</head>
<body>
    {% block header %}
    <nav class="navbar">
        <ul class="nav-links">
          <li><div class="logo">
            <img src="{% static 'images/Logo.png'%}" alt="WRITEX Logo">
          </div></li>
          <li><a href="{%url 'home'%}" target="_self">Home</a></li>
          <li><a href="{% url 'about'%}" target="_self">About</a></li>
          <div class="dropdown">
            <a class="text-dark nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Our Services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{%url 'market'%}">Marketing & Advertising</a></li>
              <li><a class="dropdown-item" href="#">Entertainment </a></li>
              <li><a class="dropdown-item" href="#">Education</a></li>
              <li><a class="dropdown-item" href="#">Health Care</a></li>
              <li><a class="dropdown-item" href="#">Travel</a></li>
              <li><a class="dropdown-item" href="#">Legal</a></li>
              <li><a class="dropdown-item" href="#">Corporate</a></li>
              <li><a class="dropdown-item" href="#">Finace</a></li>
            </ul>
          </div>
          <li><a href="#">Portfolio</a></li>
          <li><a href="{% url 'project'%}" target="_self">Start a Project</a></li>
          <div class="dropdown">
            <a class="text-dark nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Free Tooles
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          <li><a href="{% url 'career'%}" target="_self">Career</a></li>
          <li> <div class="contact-us">
            <a href="{% url 'contact'%}" target="_self">Contact Us</a>
          </div></li>
        </ul>
      </nav>
    {% endblock  %}
    {% block contant %}
        <h1>Default Page</h1>
    {% endblock  %}

    {% block footer %}
    <footer>
      <div class="container w">
          <div class="row">
              <div class="col-md-3 footer-section">
                  <div class="footer-logo">
                      <img src="{% static 'images/Logo.png'%}" alt="WriteX Logo">
                  </div>
                  <p>At WriteX we provide research based writing service.</p>
              </div>
              <div class="col-md-3 footer-section">
                  <h5>Quick Links</h5>
                  <ul>
                      <li><a href="{%url 'home'%}" target="_self">Home</a></li>
                      <li><a href="{%url 'about'%}" target="_self">About Us</a></li>
                      <li><a href="{%url 'project'%}" target="_self">Start a Project</a></li>
                      <li><a href="{%url 'contact'%}" target="_self">Contact</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Terms & Conditions</a></li>
                      <li><a href="#">Career</a></li>
                  </ul>
              </div>
              <div class="col-md-3 footer-section">
                  <h5>Our Services</h5>
                  <ul>
                      <li><a href="#">Education</a></li>
                      <li><a href="#">Corporate</a></li>
                      <li><a href="#">Legal</a></li>
                      <li><a href="#">Marketing & Advertising</a></li>
                      <li><a href="#">Entertainment</a></li>
                      <li><a href="#">Fashion</a></li>
                  </ul>
              </div>
              <div class="col-md-3 footer-section">
                  <h5>Address</h5>
                  <p>
                      NANDA TOWER<br>
                      FL-207, 90 PHEARS LANE Bowbazar,<br>
                      Kolkata, West Bengal, India, 700012<br>
                      +91 81009 77068<br>
                      info@writex.co.in
                  </p>
                  <p>
                      Customer Support:<br>
                      +91 81007 45556<br>
                      +91 70038 82237<br>
                      customer@writex.co.in
                  </p>
              </div>
          </div>
      </div>
  </footer>
    {% endblock  %}
    {% block script  %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock  %}
</body>
