{% extends 'layout.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{%static "market.css"%}">
{% endblock  %}

{% block contant %}
<div class="market">
    <div class="left">
      <h1>Marketing & Advertising</h1>
      <p>We help businesses to create persuasive content that promotes their products or services and drives customer engagement and conversions.</p>
    </div>
    <div class="img">
      <img src="{% static "images/Logo.png"%}" alt="Illustration">
    </div>
</div>

<div class="process">
  <div class="inner">
    <h5>The Process</h5>
    <p>In the advertising and marketing industry, writing services play a crucial role in creating effective messaging that resonates with target audiences. These services can encompass a wide range of writing styles and formats, including copywriting, content marketing, social media posts, email campaigns, and more. Skilled writers in this field understand the importance of crafting persuasive, memorable messages that capture the attention of consumers and drive engagement with brands. Effective writing services can help businesses build their brand, attract new customers, and increase sales. With the rapidly evolving digital landscape, it has become increasingly important for businesses to invest in high-quality writing services that can keep up with the latest trends and technologies, and deliver results in a competitive marketplace.</p>
    <p>Writex provide you with the industry experts who will help you to reach you requirements.</p>
  </div>
</div>
{% endblock  %}